@import "./colors.css";

/* css reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-white);
    font-family: "IBM Plex Mono", monospace;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main-black);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Header */

.app-header {
    width: 100%;
    height: 80px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    background-color: var(--main-black);
}

.app-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__img {
    width: 80px;
}

.app-header__text {
    font-size: 20px;
    color: var(--main-white);
    font-weight: bold;
}

/* Main */

.app-main {
    width: 100%;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-main__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-main__header__produtos-btn {
    background-color: var(--primary-cyan);
    border: 1px solid var(--main-black);
    font-weight: bold;
    padding: 0.5rem;
}

/* Form */

.app-main__form-area__form {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.app-main__form__field {
    display: flex;
    flex-direction: column;
}

.app-main__form__field__label {
    font-size: 14px;
    font-weight: bold;
}

.app-main__form__field__input {
    padding: 0.5rem;
}

.app-main__form__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.app-main__form__buttons__save {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-cyan);
    border: 1px solid var(--main-black);
    font-size: 12px;
    font-weight: bold;
}

.app-main__form__buttons__clear {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--main-white);
    border: 1px solid var(--gray-borders);
    font-size: 12px;
    font-weight: bold;
}