@import "./colors.css";

/* css reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-white);
    font-family: "IBM Plex Mono", monospace;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main-black);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Header */

.app-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-black);
}

.app-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__text {
    font-size: 32px;
    color: var(--main-white);
    font-weight: bold;
}

/* Main */

.app-main {
    width: 100%;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-main__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-main__header__cadastrar-btn {
    background-color: var(--primary-cyan);
    border: 1px solid var(--main-black);
    font-weight: bold;
    padding: 0.5rem;
}

/* Produtos */

.app-main__produtos-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.app-main__produto {
    display: flex;
    gap: 20px;
    padding: 12px;
    background-image: linear-gradient(to bottom, var(--main-black) 40%, var(--main-white) 40%);
    border: solid 1px var(--main-black);
}

.app-main__produto__img {
    width: 120px;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px var(--primary-cyan);
}

.app-main__produto__dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}

.app-main__produto__dados__topo {
    display: flex;
    flex-direction: column;
    color: var(--main-white);
}

.app-main__produto__dados__topo > p:first-child {
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.app-main__produto__dados__topo > p:last-child {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-cyan);
}

.app-main__produto__dados__fundo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.app-main__produto__dados__fundo > p:first-child {
    color: var(--gray-subtext);
    font-size: 12px;
}

.app-main__produto__dados__fundo__grupo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.app-main__produto__dados__fundo__grupo__botao-editar {
    width: 100%;
    background-color: var(--primary-cyan);
    border: 1px solid var(--main-black);
    font-size: 12px;
    font-weight: bold;
}

.app-main__produto__dados__fundo__grupo__botao-deletar {
    width: 100%;
    background-color: var(--main-white);
    border: 1px solid var(--gray-borders);
    font-size: 12px;
    font-weight: bold;
}



/* Footer */