@import "./colors.css";

/* css reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-white);
    font-family: "IBM Plex Mono", monospace;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Componentes */

.app-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-black);
}

.app-header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__text {
    font-size: 32px;
    color: var(--main-white);
    font-weight: bold;
}